*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries

# Ignore local npm cache created by some tools (large sha512 files)
.npm-local-cache/
# Ignore npm cache internal artifacts (more specific)
**/_cacache/
**/content-v2/sha512/**

/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
